$background-color: #1a1a1a;

$hover-lighten: 5%;
$border-lighten: 7%;
$active-lighten: 10%;

$number-color: #2FA1D6;
$boolean-color: #806787;
$string-color: #1ed36f;
$function-color: #e61d5f;
$save-row-color: #dad5cb;
$button-color: darken($save-row-color, 10%);
$border-color: lighten($background-color, $border-lighten);
$input-color: lighten($background-color, 8.5%);

@mixin transition($prop, $time, $curve) {
  -webkit-transition: $prop $time $curve;
  -o-transition: $prop $time $curve;
  -moz-transition: $prop $time $curve;
  transition: $prop $time $curve;
}

@mixin gradient($a, $b) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
  background: -o-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from($a), to($b));
}

@mixin button() {
  margin-left: 5px;
  margin-top: 1px;
  border-radius: 2px;
  font-size: 9px;
  line-height: 7px;
  padding: 4px 4px 5px 4px;
  background: $button-color;
  color: #fff;
  text-shadow: 0 1px 0 darken($button-color, 10%);
  box-shadow: 0 -1px 0 darken($button-color, 10%);
  cursor: pointer;
}

@mixin gears() {
  background: $button-color url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpiYKAU/P//PwGIC/ApCABiBSAW+I8AClAcgKxQ4T9hoMAEUrxx2QSGN6+egDX+/vWT4e7N82AMYoPAx/evwWoYoSYbACX2s7KxCxzcsezDh3evFoDEBYTEEqycggWAzA9AuUSQQgeYPa9fPv6/YWm/Acx5IPb7ty/fw+QZblw67vDs8R0YHyQhgObx+yAJkBqmG5dPPDh1aPOGR/eugW0G4vlIoTIfyFcA+QekhhHJhPdQxbiAIguMBTQZrPD7108M6roWYDFQiIAAv6Aow/1bFwXgis+f2LUAynwoIaNcz8XNx3Dl7MEJUDGQpx9gtQ8YCueB+D26OECAAQDadt7e46D42QAAAABJRU5ErkJggg==) 2px 1px no-repeat;
  height: 7px;
  width: 8px;
}

@import "structure";

/** Main type */
.dg {

  color: #eee;
  font: 11px 'Lucida Grande', sans-serif;
  text-shadow: 0 -1px 0 #111;

  /** Auto place */
  &.main {

    /** Scrollbar */
    &::-webkit-scrollbar {
      width: 5px;
      background: $background-color;
    }
    &::-webkit-scrollbar-corner {
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: lighten($background-color, 30%);
    }

  }

  li {

    &:not(.folder) {
      background: $background-color;
      border-bottom: 1px solid $border-color;
    }

    &.save-row {

      line-height: 25px;
      background: $save-row-color;
      border: 0;

      select {
        margin-left: 5px;
        width: 108px;

      }

      .button {

        &.gears {
          @include gears;
        }

        @include button;

        &:hover {
          background-color: darken($button-color, 5%);
          box-shadow: 0 -1px 0 darken($button-color, 10%);
        }

      }

    }

    &.folder {
      border-bottom: 0;
    }

    &.title {
      padding-left: 16px;
      background: #000 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

  }

  .closed li.title {
    background-image: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlGIWqMCbWAEAOw==);
  }

  /* Controller row, <li> */
  .cr {

    &.boolean {
      border-left: 3px solid $boolean-color;
    }

    &.color {
      border-left: 3px solid;
    }

    &.function {
      border-left: 3px solid $function-color;
    }

    &.number {
      border-left: 3px solid $number-color;
      input[type=text] {
        color: $number-color;
      }
    }

    &.string {
      border-left: 3px solid $string-color;
      input[type=text] {
        color: $string-color;
      }
    }

    &.function:hover,
    &.boolean:hover {
      background: #111;
    }

  }

  /** Controllers */
  .c {

    input[type=text] {

      background: $input-color;
      outline: none;
      &:hover {
        background: lighten($input-color, $hover-lighten);
      }
      &:focus {
        background: lighten($input-color, $active-lighten);
        color: #fff;
      }

    }

    .slider {
      background: $input-color;
      cursor: ew-resize;
    }

    .slider-fg {
      background: $number-color;
      max-width: 100%;
    }

    .slider:hover {
      background: lighten($input-color, $hover-lighten);
      .slider-fg {
        background: lighten($number-color, $hover-lighten);
      }
    }

  }

}

/** Image Controller */
.image-picker {
  position: relative;
  .content {
    height: 100%;
    cursor: pointer;
    transition: opacity 0.2s;

    &.dragover {
      opacity: 0.8;
    }
  }

  input {
    display: none;
  } 

  &:hover .image-swatches{
    opacity: 1.0;
    visibility:visible;
    transition-delay:0s;
  }

  .image-swatches {
    z-index: 2;
    height: 100%;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear;
    width: 100%;
    text-align: left;
    .swatch {
      display: inline-block;
      cursor: pointer;
      flex: 0 1 33%;
      width: 32%;
      margin-right: 1%;
    }
  }

  .camera-icon {
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAAAwCAYAAACVMr0DAAACmklEQVR4Ae3bP0iVURjH8fuWQ9BQEC22BJGY9IcQcixyEXJpcHOKcHEIqsGgwaGhBoscWhqC1kRcHBoSa3ERCgyChmgsIiLEIUrt+1y9x/fy/tPr+0znd+Dne+5zznsu9+PLGa7HZJPWiLQlNO+PfsD7DWJfX8COTwCbw0EBOwGDe52l3wm4ZmBgz5E3LDtLTgm4JmBQj5FnLPeeXG0t29Xq6NqZAKhmOE4myVHS1gTcxrG3F+AOcccT0lt0p4CLZErqwPYw/JhcK5nWHNIeXCWUGgf2CJmi9JFU4tqteoJNoaKBag/iTfKAHK+Y3jYs4DaO7AtwL1N9Si5kR6sr2iIKjIA9SV4xvEg6wrWl9QSbQqqBepiX98gdcig11FFXwNtswNo3a6PkIeneLu/7ImAIwR3gYvusXWttUe/BwHaTl4gukdpx7TeV8AbRfuHO518jtud6te9RP8GoeuI2f2mxA3s9uWFdAQcKn46AfVzDqgIOFD4dAfu4hlUFHCh8OgL2cQ2rCjhQ+HQE7OMaVhVwoPDpCNjHNawq4EDh04kdeNmHdWfV2IEvQXGDfNshqbcXNTDnrzfJC0jtIMkj8qde3kYjauAWJsirZILXfWSuVa/jKuCUIshfiJ3rHSQrqaGOuwLOoQN5gfJFMk5+5kzZdUnABVQgrxM773uaTJN/BVNLywIu5eGvwknyi9xi2nnyumJ6ZljAGZL8AsifyBCjw+Rz/qxsVcBZk9IKyPNMOEvukt+lkxkUcJVQzjjIf4mdE7b9+TnZyJnWLAm4SGYXdZB/kDGm9pO3ebcIOE9ljzWQP5Ar3DZCvpLQBBwo9t8BeYZVzpD7xI5lxX02DRC3fwbnyN8JfG9HffjPE9ieXmvaIrYc3H7+B2I6hCujfhfYAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 6px;
  }

  .camera-button, .new-image-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: black;
    cursor: pointer;
  }

  .new-image-button {
    margin-left: 20px;
  }

  .new-image-icon {
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFcAAABXCAYAAABxyNlsAAAAAXNSR0IArs4c6QAAAa1JREFUeAHt3EFuwlAUQ1E+6r6brjxkBVdfzxgi9Xbq2KDDEzO6Hjf+O8/zoLe31sKcup/I1ideZPoaF+5J3Qv31u//SW/eLBMQN/PDtrjIk4XiZn7YFhd5slDczA/b4iJPFoqb+WFbXOTJQnEzP2yLizxZKG7mh21xkScLxc38sC0u8mShuJkftsVFniwUN/PDtrjIk4XiZn7YFhd5slDczA/b4iJPFoqb+WFbXOTJQnEzP2yLizxZKG7mh21xkScLxc38sC0u8mShuJkftsVFniwUN/PDtrjIk4XiZn7YFhd5slDczA/b6/o10u/1xIFPGU4EDi93wrbZEXcTavKYuBO1zY64m1CTx8SdqG12xN2Emjwm7kRts3Prn9T7LwE2P8X/+JhfC8VPXVxxiwLFaS9X3KJAcdrLFbcoUJz2csUtChSnvVxxiwLFaS9X3KJAcdrLFbcoUJz2csUtChSnvVxxiwLFaS9X3KJAcdrLFbcoUJz2csUtChSnvVxxiwLFaS9X3KJAcdrLFbcoUJz2csUtChSnvVxxiwLFaS+3iPtT3H7H9N87Rr618QK/DhGq+EkZwAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 11px;
  }

  .swatch-buttons {
    display: flex;
    margin-bottom: 10px;
  }

  .swatch-images {
    display: flex;
    align-items: center;
  }

  .selected-image {
    height: 70px;
    & .jsgif {
      height: 100%;
    }
    & .jsgif canvas {
      height: 100%;
    }
    margin-bottom: 10px;
    border: 2px solid white;
    display: inline-flex;
  }

  .gif-img {
    visibility: hidden;
  }
}
